/* For Smartphone Size */
@media all and (max-width: 670px) {
    #btn-header a {
        display: none;
        float: right;
    }

    #menu-icon {
        background-color: white;
        display: block;
    }

    #top-image h1 {
        letter-spacing: 5px;
        font-size: 50px;
        text-align: left;
    }

    #top-image p {
        letter-spacing: 5px;
        font-size: 30px;
        text-align: left;
    }

    #top image img {
        width: 100%;
        text-align: left;
    }
    
    #about-wrapper {
        text-align: left;
        font-size: 15px;
        line-height: 20px;
    }


}